{% extends 'base.html' %}

{% block title %} Product Detail {% endblock title %}

{% block head %}
    <style>
        /* font-family: 'Cormorant Garamond', serif;
         font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif; */

        h1 {
            font-family: 'Cormorant Garamond', serif;
        }

        h2 {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 2rem;
        }

        @media (max-width: 992px) {
            h2 {
                font-size: 1.8rem;
            }
        }

        @media (max-width: 576px) {
            h2 {
                font-size: 1.5rem;
            }
        }

        h3 {
            font-family: 'Open Sans', sans-serif;
        }

        .navbar-brand {
            font-size: 1.8rem;
            font-family: 'Limelight', cursive;
            font-weight: 600;
        }

        .nav-item {
            font-family: 'Poppins', sans-serif;
        }

    </style>
{% endblock head %}

{% block content %}
    
    {% include 'nav.html' %}
    {% load cart %}

    <div class="container-fluid row mb-5">
        <div class="container-fluid col-xl-7">
            <div id="carouselExampleIndicators" class="carousel slide p-md-4" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ prod.img1.url }}"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ prod.img2.url }}"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ prod.img3.url }}"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container-fluid col-xl-5 p-md-4">
            <h1 class="display-1">{{ prod.title }}</h1>
            <h2>{{ prod.desc }}</h2>
            <br>
            <h3 class="lead">Price:&nbsp;&nbsp;<strong>${{ prod.price }}</strong></h3>
            <br>
            <h3 class="lead">
                Size:&nbsp;&nbsp;<strong>{{ prod.size }}</strong>
                <!--<div class="btn-group" role="group" aria-label="Select your size:">
                    <input type="radio" class="btn-check" name="btnradio" id="small" value="S" autocomplete="off">
                    <label class="btn btn-outline-dark" for="small">S</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="medium" value="M" autocomplete="off">
                    <label class="btn btn-outline-dark" for="medium">M</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="large" value="L" autocomplete="off">
                    <label class="btn btn-outline-dark" for="large">L</label>

                    <input type="radio" class="btn-check" name="btnradio" id="xtra-large" value="XL" autocomplete="off">
                    <label class="btn btn-outline-dark" for="xtra-large">XL</label>
                </div>-->
            </h3> 
            <br>
            <div class="row">
                <div class="col-sm-6 p-0 my-2">
                    {% if prod|is_in_cart:request.session.cart %}
                    <div class="row p-0">
                        <form action="" class="col-2" method="POST">{% csrf_token %}
                            <input hidden type="text" name="to_cart" value="{{ prod.id }}">
                            <input hidden type="text" name="rem_cart" value="True">
                            <input type="submit" value="- " class="col-2 btn btn-dark px-4">
                        </form>
                        <div class="text-center col-sm-6">{{prod|cart_count:request.session.cart}} in cart</div>
                        <form action="" class="col-2" method="POST">{% csrf_token %}
                            <input hidden type="text" name="to_cart" value="{{ prod.id }}">
                            <input type="submit" value="+ " class="col-2 btn btn-dark px-4">
                        </form>    
                    </div>
                    {% else %}
                    <form action="" method="POST">{% csrf_token %}
                        <input hidden type="text" name="to_cart" value="{{ prod.id }}">
                        <input type="submit"  class="btn btn-dark px-4" value="ADD TO CART">
                    </form>
                    {% endif %}
                </div>
                <div class="col-sm-6 p-0 my-2">
                    <button class="btn btn-outline-dark px-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="auto" fill="currentColor"
                            class="bi bi-bag mb-1 me-4 ms-2" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                        </svg>
                        BUY NOW
                    </button>
                </div>
            </div>
        </div>
    </div>

    

{% endblock content %}

